```
# Compressed files
*.tar.gz

# Dependencies
vendor/

# Logs and temp files
*.log
*.tmp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# PHP specific
*.php~
.php_cs.cache
.phpunit.result.cache

# Laravel/PHP frameworks
bootstrap/cache/
storage/
public/storage
.npm
.yarn
```